<!DOCTYPE html>
<html>
<head>
    <title>blendirendi</title>
    <script src="vue.min.js"></script>
    <script src="blendirendi.js"></script>
    <link rel="stylesheet" href="blendirendi.css">
    <html lang="en"></html>
    <meta name="viewport" content="width=700, initial-scale=1.0">
</head>
<body onload="start()">
    <div id="app" style="display: none;">
    <div class="content" v-if="active_viewer == false">

        <div class="disk_usage_outer">disk available: {{disk[2] | eval_filesize}}
            <div class="disk_usage_progress"><div class="disk_usage_progress_inner" v-bind:style="{'width': disk[1] / disk[0] * 100 + '%'}"></div></div>
        </div>
        <h1>blendirendi</h1>

        <div class="panel green">
            <h2 @click="active_upload = !active_upload">upload<div class="material" v-if="!active_upload">expand_more</div></h2>
            <br  v-if="active_upload">
            <p class="error" v-if="upload.error != ''">{{upload.error}}</p>
            <p class="info" v-if="upload.info != ''">{{upload.info}}</p>
            <form id="upload_form" class="upload_form" v-if="active_upload" action="/api/upload" method="post" @submit="check_form" target="hidden-iframe">
                <div class="upload_form_drag" v-if="dragging">
                    drop *.blend file here.
                </div>
                <div class="upload_form_content" v-if="!dragging">


                    <div v-if="!dropped_file">
                        <div class="key">File</div>
                        <div class="value"><input type="file" id="myFile" name="upload"></div>
                    </div>
                    <div v-if="dropped_file">
                        <div class="key">dropped File</div>
                        <div class="value">{{dropped_file.name}} <button class="material" type="button" @click="dropped_file = null">delete</button></div>
                    </div>
                    <div class="gridWrap">
                        <div>
                            <div>
                                <div class="key">is animation</div>
                                <div class="value"><input type="checkbox" name="is_animation" v-model="upload.is_animation"></div>
                            </div>

                            <div>
                                <div class="key" v-if="upload.is_animation">startframe</div>
                                <div class="key"v-if="!upload.is_animation">frame</div>
                                <div class="value"><input type="number" name="startframe" v-model="upload.framestart"></div>
                            </div>

                            <div v-if="upload.is_animation">
                                <div class="key">endframe</div>
                                <div class="value"><input type="number" name="endframe" v-model="upload.frameend"></div>
                            </div>

                        </div>
                        <div>

                            <div>
                                <div class="key">priority (high = first)</div>
                                <div class="value"><input type="number" name="priority" v-model="upload.priority"></div>
                            </div>

                            <div>
                                <div class="key">required RAM (GB)</div>
                                <div class="value"><input type="number" name="memory" v-model="upload.memory"></div>
                            </div>

                            <div>
                                <div class="key">enable job</div>
                                <div class="value"><input type="checkbox" name="enable" v-model="upload.enable"></div>
                                <div class="value" style="float: right"><button type="submit">Submit</button></div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
            <iframe name="hidden-iframe" style="display: none;"></iframe>
        </div>


        <div class="panel red">
            <h2 @click="active_jobs = !active_jobs">jobs<div class="material" v-if="!active_jobs">expand_more</div></h2>
            <br  v-if="active_jobs">
            <table v-if="active_jobs">
                <tr class="select">
                    <th>name</th>
                    <th>frameset</th>
                    <th>progress</th>
                    <th style="padding-left:20px">enable</th>
                    <th style="padding-left:20px">priority</th>
                    <th>action</th>
                </tr>
                <tr v-for="_job in jobs" @click="action_job_click(_job)" v-bind:class="{ 'tableActive' : _job.id == job.id }">
                    <td class="select" style="width: 35%; font-weight: bold">{{_job.name}}</td>
                    <td class="select" style="width: 10%">{{_job | eval_frameset}}</td>
                    <td style="width: 15%">
                        <div class="progress_bar_outer">
                            <div class="progress_bar_inner" v-bind:style="{ width: get_progress(_job) + '%'}"></div>
                            <div class="progress_bar_text">{{_job | eval_progress}}</div>
                        </div>
                    </td>
                    <td style="width: 7%; padding-left: 15px;">
                        <input type="checkbox" v-model="_job.enabled" @click="job_save_enabled(_job)"></input>
                    </td>
                    <td style="width: 15%">
                        <span style="width: 30px; display: inline-block; text-align: right;">{{_job.priority}}</span>
                        <button type="button" class="material" @click="job_save_priority(_job, -1)" title="decrement priority">remove</button>
                        <button type="button" class="material" @click="job_save_priority(_job, +1)" title="increment priority">add</button>
                    </td>
                    <td style="width: 12%">
                        <button type="button" class="material" @click="action_delete(_job)" title="Delete Job">delete</button>
                        <button type="button" class="material" @click="action_download_multiframe(_job)" title="Download Files">download</button>
                    </td>
                </tr>
            </table>
        </div>


        <div class="panel blue">
            <h2 @click="active_job = !active_job">job detail <span style="color: white">{{job.name}}</span><div class="material" v-if="!active_job">expand_more</div></h2>
            <br  v-if="active_job && job">
            <div v-if="active_job && job">
                <div class="gridWrap">

                    <div class="select">
                        <div>
                            <div class="key">enable</div>
                            <input type="checkbox" class="value" v-model="job.enabled" @click="job_save_enabled(job)"></input>
                        </div>

                        <div>
                            <div class="key">priority</div>
                            <div class="value">{{job.priority}}</div>
                            <button type="button" class="material" @click="job_save_priority(job, -1)">remove</button>
                            <button type="button" class="material" @click="job_save_priority(job, +1)">add</button>
                        </div>

                        <div>
                            <div class="key">frameset</div>
                            <div class="value">{{job | eval_frameset}}</div>
                        </div>

                        <div>
                            <div class="key">progress</div>
                            <div class="value">{{job | eval_progress}}</div>
                        </div>

                        <div>
                            <div class="key">memory required</div>
                            <div class="value">{{job.memory}}GB</div>
                        </div>

                        <div v-if="job.starttime">
                            <div class="key">start time</div>
                            <div class="value">{{job.starttime | eval_dateformat}}</div>
                        </div>

                        <div v-if="job.endtime">
                            <div class="key">end time</div>
                            <div class="value">{{job.endtime | eval_dateformat}}</div>
                        </div>

                        <div>
                            <div class="key">job total size</div>
                            <div class="value">{{job.folder_size | eval_filesize}}</div>
                        </div>

                        <div>
                            <div class="key">blend file size</div>
                            <div class="value">{{job.blend_size | eval_filesize}}</div>
                        </div>
                    </div>
                    <div>
                        <br><br>
                        <button type="button" @click="action_delete(job)">delete job</button>
                        <br><br>
                        <button type="button" @click="action_download_multiframe(job)">download frames as zip</button>
                        <br><br>
                        <button type="button" @click="action_download_all_files(job)">download frames individual files</button>
                        <br><br>
                        <button type="button" @click="action_download_blend(job)">download blend</button>
                    </div>
                </div>

                <!-- multi frame job -->
                <div class="flow_container" v-if="job.framestart != job.frameend">
                    <div class="flow_panel" v-for="frame in job.frames">
                        <div class="image_container">
                            <!-- <a v-bind:href="'/api/frame?id=' + job.id + '&nr=' + frame.nr" target="_blank"> -->
                                <image v-if="frame.status==2" v-bind:src="'/api/thumbnail?id=' + job.id + '&nr=' + frame.nr" loading="lazy" @click="viewer_start(job, frame)" style="cursor: pointer"></image>
                            <!-- </a> -->
                        </div>
                        <div class="image_bottext select">#{{frame.nr}} - status={{frame.status | eval_status}}<br>time={{frame | eval_rendertime}}<br>svr={{frame.renderer}}</div>
                        <div class="image_buttonwrapper">
                            <button type="button" class="material" @click="action_reset_frame(job, frame)" title="Reset Image">replay</button>
                            <button type="button" class="material" @click="action_skip_frame(job, frame)" title="Skip Rendering Image">keyboard_double_arrow_right</button>
                            <button type="button" class="material" @click="action_download_frame(job, frame)" title="Download Image">download</button>
                        </div>
                    </div>
                </div>

                <!-- single frame job -->
                <div class="flow_container" v-if="job.framestart == job.frameend">
                    <div class="flow_panel_large" v-for="frame in job.frames">
                        <div class="image_container_large">
                            <!-- <a v-bind:href="'/api/frame?id=' + job.id + '&nr=' + frame.nr" target="_blank"> -->
                            <div class="blur_load" v-bind:style="{ 'background-image': 'url(/api/thumbnail?id=' + job.id + '&nr=' + frame.nr + ')' }" @click="viewer_start(job, frame)">
                                <image style="width: 1010px; height: 569px; object-fit: contain" v-if="frame.status==2" v-bind:src="'/api/frame?id=' + job.id + '&nr=' + frame.nr"  loading="lazy"></image>
                            </div>
                            <!-- </a> -->
                        </div>
                        <div class="image_bottext_large select">#{{frame.nr}} - status={{frame.status | eval_status}} - time={{frame | eval_rendertime}}<br>server={{frame.renderer}}</div>
                        <div class="image_buttonwrapper">
                            <button type="button" class="material" @click="action_reset_frame(job, frame)" title="Reset Image">replay</button>
                            <button type="button" class="material" @click="action_skip_frame(job, frame)" title="Skip Rendering Image">keyboard_double_arrow_right</button>
                            <button type="button" class="material" @click="action_download_frame(job, frame)" title="Download Image">download</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer select">
            blendirendi is a distributed Blender render farm
            <br>
            source on <a href="https://github.com/ftobler/blendirendi">github.com/ftobler/blendirendi</a>
            <br>
            by ftobler, 2023
            <br><br>
        </div>
    </div>

    <div class="viewer" v-if="active_viewer == true"  @wheel="viewer_wheel" @keyup.right="viewer_keydown">
        <div class="viewer_blur_load" v-bind:style="{ 'background-image': 'url(/api/thumbnail?id=' + job.id + '&nr=' + viewer_frame.nr + ')' }">
            <image v-if="viewer_frame.status==2" class="viewer_image" v-bind:src="'/api/frame?id=' + job.id + '&nr=' + viewer_frame.nr" loading="lazy"></image>
        </div>

        <div class="viewer_button" @click="viewer_exit()">close</div>
        <div class="viewer_center">
            <div class="viewer_arrow viewer_arrow_left" @click="viewer_nav(-1)">navigate_before</div>
            <div class="viewer_number">{{job.name}} | {{viewer_frame.nr}}</div>
            <div class="viewer_arrow viewer_arrow_right" @click="viewer_nav(+1)">navigate_next</div>
        </div>
    </div>

    </div>
</body>
</html>